# Виртуальное окружение
venv/
env/
.venv/

# Переменные окружения (ТОКЕН!)
.env
*.env

# Python-кэш
__pycache__/
*.pyc
*.pyo

# База данных
*.db
users.db

# Временные файлы
temp/
*.log

# Настройки IDE
.vscode/
.idea/