# Секреты
.env

# База данных
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# PDF-отчёты (временные)
*.pdf

# Системные
.DS_Store
Thumbs.db
.idea/
.vscode/

# Логи
*.log