# ============================================
# Telegram Bot
# ============================================
pyTelegramBotAPI==4.29.1
python-dotenv==1.1.1

# ============================================
# Компьютерное зрение и нейросети
# ============================================
torch==2.14.0
torchvision==0.29.0
ultralytics==8.4.153
opencv-python-headless==4.12.0.88
pillow==11.3.0
numpy==2.3.3